# SPDX-License-Identifier: Apache-2.0
#
# Aspeed AST2700 SSP board configuration (mcuboot chainload)
#
# Copyright (c) 2026 ASPEED Technology Inc.

config BOARD_AST2700_EVB_AST2700_SSP_CL
	select SOC_AST2700_SSP
