# Copyright (c) 2022 ASPEED Technology Inc.
# SPDX-License-Identifier: MIT

menu "Additional libraries"
rsource "modules/Kconfig"
rsource "lib/dmtf/Kconfig"
rsource "lib/smf/Kconfig"
rsource "lib/hrot_hal/Kconfig"
rsource "lib/hrot_wrapper/Kconfig"
endmenu
