# Copyright (c) 2022 ASPEED Technology Inc.
# SPDX-License-Identifier: MIT

config HROT_HAL
	bool "Hardware root of trust hardware abstraction layer"

config SPI_DMA_SUPPORT_ASPEED
        depends on SPI_ASPEED
        bool "Enable ASPEED SPI DMA"
        default n
        help
          Enable ASPEED SPI DMA. Notice, both
          flash start addrss and ram start address
          MUST be 4-byte aligned.

