# Copyright (c) 2022 ASPEED Technology Inc.
# # SPDX-License-Identifier: MIT

config ASPEED_DC_SCM
	default n
	bool "ASPEED DC-SCM board"
	help
	  Enable ASPEED DC-SCM board basic settings.

config DUAL_FLASH
	default n
	bool "Enable dual flash support"
	help
	  Enable if BMC and/or PCH has dual flash

config SPI_MUX_INVERSE
	default n
	bool "Invert SPI MUX"
	help
	  Enable if SPI MUX connected to BMC/ROT is inverted

config OTP_SIM
	depends on !OTP_ASPEED
	default n
	bool "Simulate OTP"
	help
	  Enable using flash to simulate OTP memory

config OTP_SIM_SHELL
	depends on OTP_SIM
	default n
	bool "OTP shell commands"
	help
	  Enable OTP commands for read otp data from flash

config DEVID_CERT_PROVISIONING
	default y
	bool "Device ID provisioning"
	help
	  Enable device id certificate provisioning flow

config ODM_ROT_REPLACEMENT
        depends on DEVID_CERT_PROVISIONING
	default n
	bool "ODM ROT replacement"
	help
	  Replace ROT firmware by mcuboot recovery mechanism after devid provisioned

source "Kconfig.zephyr"
