# Copyright (c) 2022 ASPEED Technology Inc.
# # SPDX-License-Identifier: MIT

config ASPEED_DC_SCM
	default n
	bool "ASPEED DC-SCM board"
	help
	  Enable ASPEED DC-SCM board basic settings.

config BMC_DUAL_FLASH
	default n
	bool "Enable BMC dual flash support"
	help
	  Enable if BMC has dual flash

config CPU_DUAL_FLASH
	default n
	bool "Enable CPU dual flash support"
	help
	  Enable if CPU has dual flash

config SPI_MUX_INVERSE
	default n
	bool "Invert SPI MUX"
	help
	  Enable if SPI MUX connected to BMC/ROT is inverted

config OTP_SIM
	depends on !OTP_ASPEED
	default n
	bool "Simulate OTP"
	help
	  Enable using flash to simulate OTP memory

config OTP_SIM_SHELL
	depends on OTP_SIM
	default n
	bool "OTP shell commands"
	help
	  Enable OTP commands for read otp data from flash

config ODM_ROT_REPLACEMENT
	default y
	bool "ODM ROT replacement"
	help
	  Replace ROT firmware by mcuboot recovery mechanism after devid provisioned

config AST10X0_PROGRAMMER_MP
	depends on BOARD_AST10X0_MP
	default n
	bool "MP via programmer"
	help
	  Support programming OTP and ROT firmware via programmer

config MP_ROT_IMAGE_OFFSET
	depends on AST10X0_PROGRAMMER_MP
	default 0x60000
	hex "ROT firmware image start address"

config MP_ROT_IMAGE_SIZE
	depends on AST10X0_PROGRAMMER_MP
	default 0x60000
	hex "ROT firmware image size"

config MP_OTP_IMAGE_OFFSET
	depends on AST10X0_PROGRAMMER_MP
	default 0x40000
	hex "OTP image start address"

config MP_OTP_IMAGE_SIZE
	depends on AST10X0_PROGRAMMER_MP
	default 0x10000
	hex "OTP image size"

source "Kconfig.zephyr"
