# Copyright (c) 2022 ASPEED Technology Inc.
# # SPDX-License-Identifier: MIT

config ASPEED_DC_SCM
	default n
	bool "ASPEED DC-SCM board"
	help
	  Enable ASPEED DC-SCM board basic settings.

config BMC_DUAL_FLASH
	default n
	bool "Enable dual flash support"
	help
	  Enable if BMC has dual flash

config INTEL_PFR
	default y
	bool "intel pfr solution"
	help
	  Intel PFR support

config CERBERUS_PFR
	depends on !INTEL_PFR
	default n
	bool "cerberus pfr solution"
	help
	  Cerberus PFR support

config SPI_MUX_INVERSE
	default n
	bool "Invert SPI MUX"
	help
	  Enable if SPI MUX connected to BMC/ROT is inverted

config ASPEED_STATE_MACHINE_SHELL
	default n
	bool "Aspeed State Machine Shell"
	help
	  Enable if user need debug shell to interact with state machine

config BMC_CHECKPOINT_RECOVERY
	default n
	bool "BMC Checkpoint timeout recovery function"
	help
	  Enable if BMC supports mailbox checkpoint

config BMC_CHECKPOINT_EXPIRE_TIME
	default 175000
	int "Maximum timeout value for BMC checkpoint"
	help
	  After system is provisioned, the watchdog will be armed during BMC
	  booting. The expire time will be set to this number.

config PCH_CHECKPOINT_RECOVERY
	default n
	bool "PCH Checkpoint timeout recovery function"
	help
	  Enable if PCH supports mailbox checkpoint

config PCH_CHECKPOINT_EXPIRE_TIME
	default 900000
	int "Maximum timeout value for PCH checkpoint"
	help
	  After system is provisioned, the watchdog will be armed during BIOS
	  booting. The expire time will be set to this number.

config PLATFORM_STATE_LED
	default n
	bool "Display platfrom state in 8 bits LED"
	help
	  Enable if the system has PlatformState LEDs

config FRONT_PANEL_LED
	default n
	bool "Enable PFR front panel LED signals"
	help
	  Enable if the system has PFR front panel design.

config BMC_STAGING_SIZE
	default 0x03DE0000
	hex "BMC staging region size in BMC flash"
	help
	  The max size of BMC staging area for putting signed BMC capsule.

config BMC_PCH_STAGING_SIZE
	default 0x1000000
	hex "PCH staging region size in BMC flash"
	help
	  The max size of PCH staging area for putting signed PCH capsule.

config BMC_PFR_STAGING_SIZE
	default 0x500000
	hex "PFR staging region size in BMC flash"
	help
	  The max size of PFR staging area for putting signed ROT capsule.

config PCH_STAGING_SIZE
	default 0x1000000
	hex "PCH staging region size in PCH flash"
	help
	  The max size of PCH staging area for putting signed PCH capsule.

config BMC_PFR_STAGING_OFFSET
	depends on CERBERUS_PFR
	hex "PFR staging region offset in BMC flash"
	help
	  The starting offset of PFR staging region, and this is for Cerberus PFR provisioning.

config INIT_POWER_SEQUENCE
	default n
	bool "Wait for CPLD power sequence to start PFR functionality"
	help
	  PFR state machine will stay in INIT state until CPLD power sequence releases
	  RST_SRST_BMC_N and RST_RSMRST_N.

config SEAMLESS_UPDATE
	depends on INTEL_PFR
	depends on !CERBERUS_PFR
	default n
	bool "Seamless update support"
	help
	  Support FVM verification and host firmware update by seamless capsule.
	  PFR will update host firmware without going to t-1 state and rebooting host.

config PIT_PROTECTION
	depends on INTEL_PFR
	depends on !CERBERUS_PFR
	default n
	bool "PIT protection support"
	help
	  Enable PIT protection functions and PIT mailbox commands.
	  ROT will perform PIT check if PIT protection is enabled via mailbox command.

source "Kconfig.zephyr"
