
config PFR_MCTP
	depends on CERBERUS
	depends on CERBERUS_MCTP
	default n
	bool "PFR MCTP support"
	help
	  Enable PFR MCTP support.

config PFR_SPDM_ATTESTATION
	depends on PFR_MCTP
	default n
	bool "SPDM attestation support"

config PFR_MCTP_I3C
	depends on PFR_MCTP
	depends on I3C
	default n
	bool "PFR MCTP over I3C support"
	help
	  Enable MCTP over I3C support

config PFR_MCTP_I3C_5_0
	depends on PFR_MCTP_I3C
	default n
	bool "PFR 5.0 MCTP over I3C support"
	help
	  Enable MCTP over I3C support for PFR 5.0

config PFR_SPDM_RESPONDER
	depends on PFR_MCTP
	default n
	bool "SPDM responder support"

config SECURE_CONNECTION_RESPONDER
	depends on PFR_SPDM_RESPONDER
	default n
	bool "SPDM secure responder support"

config SECURE_CONNECTION_REQUESTER
	depends on PFR_MCTP
	default n
	bool "SPDM secure requester support"

config PFR_HEARTBEAT_PERIOD
	default 60
	range 0 255
	int "Period of heartbeat in seconds"

if PFR_SPDM_ATTESTATION

config BMC_AFM_RECOVERY_OFFSET
	default 0x0c300000
	hex "AFM recovery region offset in BMC flash"

config BMC_AFM_STAGING_RECOVERY_SIZE
	default 0x20000
	hex "AFM staging/recovery region size in BMC flash"

config PFR_SPDM_ATTESTATION_DURATION
	default 60
	int "First attestation after boot complete checkpoint in seconds"

config PFR_SPDM_ATTESTATION_PERIOD
	default 600
	int "Period of attestation in seconds"

config PFR_SPDM_ATTESTATION_DEVICE_OFFSET
	default 0x1000
	hex "Device offset in AFM Device Structure, default is 4KB"

config PFR_SPDM_ATTESTATION_MAX_DEVICES
	default 8
	int "Maximum supported device in AFM"

config AFM_SPEC_VERSION
	range 3 4
	int "AFM Spec. version"
	help
	  To define AFM Spec. version. The valid values are 3 or 4.

endif # PFR_SPDM_ATTESTATION

if PFR_MCTP_I3C

config PFR_SPDM_I3C_BUS
	default 2
	int "I3C bus for attestation"

config PFR_SPDM_CPU_I3C_BUS
	default 0
	int "CPU I3C bus for attestation"

config PFR_SPDM_I3C_BMC_DEV_PID
	default 0x7ec05031000
	hex "I3C device pid for BMC"

config PFR_SPDM_I3C_HUB_DEV_PID
	default 0x4cdffffffff
	hex "I3C device pid for i3c hub"

config PFR_SPDM_I3C_CPU0_DEV_PID
	default 0x20a0000000f
	hex "I3C device pid for CPU0"

config PFR_SPDM_I3C_CPU1_DEV_PID
	default 0x20a0000100f
	hex "I3C device pid for CPU1"

endif # PFR_MCTP_I3C
