
config PFR_SPDM_ATTESTATION
	depends on PFR_MCTP
	default n
	bool "SPDM attestation support"

if PFR_SPDM_ATTESTATION

config PFR_SPDM_ATTESTATION_DURATION
	default 60
	int "First attestation after boot complete checkpoint in seconds"

config PFR_SPDM_ATTESTATION_PERIOD
	default 600
	int "Period of attestation in seconds"

config PFR_SPDM_ATTESTATION_DEVICE_OFFSET
	default 0x1000
	hex "Device offset in AFM Device Structure, default is 4KB"

config PFR_SPDM_ATTESTATION_MAX_DEVICES
	default 8
	int "Maximum supported device in AFM"

endif # PFR_SPDM_ATTESTATION
