# Copyright (c) 2022 ASPEED Technology Inc.
# SPDX-License-Identifier: MIT

config CERBERUS
	bool "Cerberus support"

if CERBERUS
	config CERBERUS_MCTP
	depends on CERBERUS
	default n
	bool "Cerberus MCTP support"
	help
	  Enable Cerberus MCTP protocol support.

	config CERBERUS_MCTP_TEST_ECHO
	depends on CERBERUS_MCTP
        default n
        bool "Cerberus MCTP echo command"
        help
          Cerberus MCTP echo command support for large message test.
endif
