/ {
	/* For v01.00.06 */
	resources {
		compatible = "demo,gpio_basic_api";
		bmc-srst-ctrl-out-gpios = <&gpio0_m_p 5 0>; /* GPIO_M5 */
		bmc-extrst-ctrl-out-gpios = <&gpio0_e_h 26 0>; /* GPIO_H2 */
		bmc-rst-ind-in-gpios = <&gpio0_m_p 19 0>; /* GPIO_O3 */
		bmc-cpu1-mux-sel-out-gpios = <&gpio0_a_d 26 0>; /* GPIO_D2 */
		bic-rst-ind-in-gpios = <&gpio0_a_d 16 0>; /* GPIO_C0 */
		pch-rst-ctrl-out-gpios = <&gpio0_m_p 4 0>; /* GPIO_M4 */
		cpu0-rst-ind-in-gpios = <&gpio0_q_t 26 0>; /* GPIO_T2 */
		cpu1-rst-ind-in-gpios = <&gpio0_q_t 28 0>; /* GPIO_T4 */
		cpu0-flash-pwr-out-gpios = <&gpio0_i_l 26 0>; /* GPIO_L2 */
		cpu1-flash-pwr-out-gpios = <&gpio0_i_l 27 0>; /* GPIO_L3 */

		platform-state-out-gpios =
			<&sgpiom_a_d 0 0>, <&sgpiom_a_d 1 0>,
			<&sgpiom_a_d 2 0>, <&sgpiom_a_d 3 0>,
			<&sgpiom_a_d 4 0>, <&sgpiom_a_d 5 0>,
			<&sgpiom_a_d 6 0>, <&sgpiom_a_d 7 0>;
	};

	aliases {
		led0 = &pfr_fp_green_led_out;
		led1 = &pfr_fp_amber_led_out;
		fp-input0 = &bmc_fp_green_led_in;
		fp-input1 = &bmc_fp_amber_led_in;
	};

        gpio_keys {
		compatible = "gpio-keys";
		bmc_fp_green_led_in: fp_green_led_in {
			gpios = <&gpio0_a_d 22 1>; /* GPIO_C6 */
			label = "BMC FP GREEN LED";
		};

		bmc_fp_amber_led_in: fp_amber_led_in {
			gpios = <&gpio0_a_d 21 1>; /* GPIO_C5 */
			label = "BMC FP AMBER LED";
		};
	};

	leds {
		compatible = "gpio-leds";

		pfr_fp_green_led_out: green_led {
			gpios = <&gpio0_m_p 18 1>; /* GPIO_O2 */
			label = "PFR_FP_GREEN_LED";
		};

		pfr_fp_amber_led_out: amber_led {
			gpios = <&gpio0_e_h 25 1>; /* GPIO_H1 */
			label = "PFR_FP_AMBER_LED";
		};
	};
};

&sram0 {
	reg = <0 DT_SIZE_K(640)>, <0xa0000 DT_SIZE_K(128)>;
};

&i2cfilter {
	pinctrl-0 = <&pinctrl_smbflt_default>;
	status = "okay";
};

&mbxctrl {
	status = "okay";
};

&i2c0 {
	status = "okay";
	pinctrl-0 = <&pinctrl_i2c0_default>;

	swmbx0: swmbx0@70 {
		compatible = "aspeed,swmbx-dev";
		reg = <0x70>;
		label = "SWMBX_SLAVE_CPU";
		size = <256>;
		port = <1>;
		status = "okay";
	};
};

&i2c1 {
	pinctrl-0 = <&pinctrl_i2c1_default>;
	status = "okay";

	swmbx1: swmbx1@38 {
		compatible = "aspeed,swmbx-dev";
		reg = <0x38>;
		label = "SWMBX_SLAVE_BMC";
		size = <256>;
		port = <0>;
		status = "okay";
	};
};

&i2c2 {
	pinctrl-0 = <&pinctrl_i2c2_default>;
	status = "okay";
};

&i2c3 {
	pinctrl-0 = <&pinctrl_i2c3_default>;
	status = "okay";

};

&i2c4 {
	pinctrl-0 = <&pinctrl_i2c4_default>;
	status = "okay";
};

&i2c5 {
	pinctrl-0 = <&pinctrl_i2c5_default>;
	status = "okay";
};

// for i2c filter testing
&i2c8 {
	pinctrl-0 = <&pinctrl_i2c8_default>;
	status = "okay";
};

&wdt0 {
	status = "okay";
};

&wdt1 {
	status = "okay";
};

&wdt2 {
	status = "okay";
};

&wdt3 {
	status = "okay";
};

&wdt4 {
	status = "okay";
};

&fmc {
	status = "okay";
};

&fmc_cs0 {
	/delete-property/ broken-sfdp;
	/delete-property/ write-block-size;
	status = "okay";
	spi-max-buswidth = <4>;
	spi-max-frequency = <50000000>;
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;
		active_partition: partition@0 {
			label = "active";
			reg = <0x0 0x60000>;
		};

		recovery_partition: partition@1 {
			label = "recovery";
			reg = <0x60000 0x60000>;
		};

		state_partition: partition@2 {
			label = "state";
			reg = <0xC0000 0x10000>;
		};

		intel_state_partition: partition@3 {
			label = "intel_state";
			reg = <0xD0000 0x10000>;
		};

		key_partition: partition@4 {
			label = "key";
			reg = <0xE0000 0x10000>;
		};

		log_partition: partition@5 {
			label = "log";
			reg = <0xF0000 0x20000>;
		};
	};
};

&fmc_cs1 {
	status = "okay";
	spi-max-buswidth = <4>;
	spi-max-frequency = <50000000>;
};

&spi1 {
	num-cs = <1>;
	status = "okay";
};

&spi1_cs0 {
	spi-max-buswidth = <4>;
	spi-max-frequency = <50000000>;
	status = "okay";

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/* 896KB */
		bmc_uboot_partition: partition@0 {
			label = "bmc-uboot";
			reg = <0x00000000 0x000e0000>;
		};

		/* 128KB */
		bmc_pfm_partition: partition@e0000{
			reg = <0x000e0000 0x00020000>;
			label = "bmc-pfm";
		};

		/* 128KB */
		bmc_ub_env_partition: partition@100000{
			reg = <0x00100000 0x00020000>;
			label = "bmc-ub-env";
		};

		/* 2048KB */
		bmc_sofs_partition: partition@120000{
			reg = <0x00120000 0x00200000>;
			label = "bmc-sofs";
		};

		/* 8064KB */
		bmc_rwfs_partition: partition@320000{
			label = "bmc-rwfs";
			reg = <0x00320000 0x007e0000>;
		};

		/* 31744KB */
		bmc_fitimg_partition: partition@b00000{
			label = "bmc-fitimg";
			reg = <0x00b00000 0x01f00000>;
		};

		/* 32768KB  */
		bmc_rc_image_partition: partition@2a00000{
			label = "bmc-rc-image";
			reg = <0x02a00000 0x02000000>;
		};

		/* 32768KB */
		bmc_stg_partition: partition@4a00000{
			label = "bmc-stg";
			reg = <0x04a00000 0x02000000>;
		};

		/* 16384KB */
		bmc_pch_stg_partition: partition@6a00000{
			label = "bmc-pch-stg";
			reg = <0x06a00000 0x01000000>;
		};

		/* 5120KB */
		bmc_pfr_stg_partition: partition@7a00000{
			label = "bmc-pfr-stg";
			reg = <0x07a00000 0x00500000>;
		};

		/* 128KB */
		afm_act_partition: partition@7f00000 {
			label = "afm-act";
			reg = <0x07f00000 0x00020000>;
		};

		/* 128KB */
		afm_rc_partition: partition@7f20000 {
			label = "afm-rc";
			reg = <0x07f20000 0x00020000>;
		};

		/* 768KB */
		reserved_partition: partition@7f40000 {
			reg = <0x07f40000 0x000c0000>;
			label = "reserved";
		};
	};
};

/* Use AST1060 SPI2 as the internal SPI master to
 * to access the SPI flashes connected to SPI monitors
 * Here,
 * "SPI2_CS0" used to access flash connected to SPI_Monitor_2,
 * "SPI2_CS1" is used to access flash connected to SPI_Monitor_3,
 * "SPI2_CS2" is used to access flash connected to SPI_Monitor_4,
 */

&spi2_cs0 {
	spi-max-buswidth = <4>;
	spi-max-frequency = <50000000>;
	reg = <0>;
	status = "okay";

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/* 8MB */
		pch_active_partition: partition@0 {
			label = "pch-act";
			reg = <0x00000000 0x00800000>;
		};

		/* 8MB compressed pch recovery image */
		pch_recovery_partition: partition@800000 {
			label = "pch-rc";
			reg = <0x00800000 0x00800000>;
		};

		/* 8MB compressed pch staging image */
		pch_staging_partition: partition@1000000 {
			label = "pch-stg";
			reg = <0x01000000 0x00800000>;
		};

		/* 4MB */
		pch_pfm_partition: partition@1800000 {
			label = "pch-pfm";
			reg = <0x01800000 0x00400000>;
		};
	};
};

&spi2_cs1 {
	spi-max-buswidth = <4>;
	spi-max-frequency = <50000000>;
	reg = <1>;
	status = "okay";
};

&spi2 {
	internal-mux-master = <2>;
	spi-monitor-output-base = <2>;
	spi-monitor-common-ctrl = <&spim0>;
	pinctrl-0 = <>;

	num-cs = <3>;
	status = "okay";

	spi2_cs2: flash@2 {
		compatible = "jedec,spi-nor";
		reg = <2>;
		spi-max-buswidth = <4>;
		spi-max-frequency = <50000000>;
		label = "spi2_cs2";
		status = "okay";
	};
};

&spim0 {
	status = "okay";
};

&spim1 {
	allow-cmds = [03 13 0b 0c 6b 6c 01 05 35 06 04 20 21 9f 5a b7 e9 32 34 d8 dc 02 12 15 31 3b 3c];
	log-ram-size = <0x200>;
	pinctrl-0 = <&pinctrl_spim1_cs &pinctrl_spim1_in_default &pinctrl_spim1_qspi_in_default
				&pinctrl_spim1_rst_out &pinctrl_spim1_muxsel>;

	flash-device = <&spi1_cs0>;
	status = "okay";
	write-forbidden-regions = <
		0x00000000 0x08000000
	>;
};

&spim2 {
	allow-cmds = [03 13 0b 0c 6b 6c 01 05 35 06 04 20 21 9f 5a b7 e9 32 34 d8 dc 02 12 15 31 3b 3c];
	log-ram-size = <0x200>;
	pinctrl-0 = <&pinctrl_spim2_cs &pinctrl_spim2_in_default &pinctrl_spim2_out_default
				&pinctrl_spim2_qspi_in_default &pinctrl_spim2_qspi_out_default
				&pinctrl_spim2_rst_out>;

	flash-device = <&spi2_cs0>;
	status = "okay";
	write-forbidden-regions = <
		0x00000000 0x08000000
	>;
};

&spim3 {
	allow-cmds = [03 13 0b 0c 6b 6c 01 05 35 06 04 20 21 9f 5a b7 e9 32 34 d8 dc 02 12 15 31 3b 3c];
	log-ram-size = <0x200>;
	pinctrl-0 = <&pinctrl_spim3_cs &pinctrl_spim3_in_default &pinctrl_spim3_out_default
				&pinctrl_spim3_qspi_in_default &pinctrl_spim3_qspi_out_default
				&pinctrl_spim3_rst_out>;

	flash-device = <&spi2_cs1>;
	status = "okay";
};

&spim4 {
	allow-cmds = [03 13 0b 0c 6b 6c 01 05 35 06 04 20 21 9f 5a b7 e9 32 34 d8 dc 02 12 15 31 3b 3c];
	log-ram-size = <0x200>;
	/* for demo purpose */
	/*
	read-forbidden-regions = <
		0x00000000 0x10000
		0x00274000 0x4000
		0x01E00000 0x80000
	>;

	write-forbidden-regions = <
		0x00000000 0x10000
		0x013FC000 0x28000
		0x0FFF8000 0x8000
	>;
	*/

	pinctrl-0 = <&pinctrl_spim4_cs &pinctrl_spim4_in_default &pinctrl_spim4_out_default
				&pinctrl_spim4_qspi_in_default &pinctrl_spim4_qspi_out_default
				&pinctrl_spim4_rst_out>;

	flash-device = <&spi2_cs2>;
	status = "okay";
};

&sgpiom {
	status = "okay";
};
