
config ATF_LOAD_ADDR
	default 0
	hex "Address in memory for ATF firmware"
	help
	  Address in memory to use as the default safe load address for ATF.

config OPTEE_LOAD_ADDR
	default 0
	hex "Address in memory for OPTEE firmware"
	help
	  Address in memory to use as the default safe load address for OPTEE.

config UBOOT_LOAD_ADDR
	default 0
	hex "Address in memory for UBOOT firmware"
	help
	  Address in memory to use as the default safe load address for UBOOT.

config TSP_LOAD_ADDR
	default 0
	hex "Address in memory for TSP firmware"
	help
	  Address in memory to use as the default safe load address for TSP.

config KERNEL_LOAD_ADDR
	default 0
	hex "Address in memory for Kernel firmware"
	help
	  Address in memory to use as the default safe load address for Kernel.
