# Copyright (c) 2025 ASPEED Technology Inc. <chin-ting_kuo@aspeedtech.com>
# SPDX-License-Identifier: Apache-2.0

rsource "src/Kconfig"
rsource "boards/Kconfig"

module = SOC_FMC
module-str = soc-fmc
source "subsys/logging/Kconfig.template.log_config"
source "Kconfig.zephyr"
