# Copyright (c) 2021 ASPEED Technology Inc. <chin-ting_kuo@aspeedtech.com>
# SPDX-License-Identifier: Apache-2.0

config ASPEED_DDR_1600
        default n
        bool "ASPEED DDR data rate"
        help
          Choose DDR1600 data rate

config ASPEED_DDR_3200
        default y
        bool "ASPEED DDR data rate"
        help
          Choose DDR3200 data rate

config SYS_LOAD_ADDR
	hex "Address in memory to use by default"
	help
	  Address in memory to use as the default safe load address.

config CPTRA_MANIFEST
	bool "Enable CPTRA manifest image loader"
	default n
	help
	  This option enable the CPTRA manifest image loader.

config CPTRA_MANIFEST_SIGNATURE
	bool "Enable CPTRA manifest image signature verification"
	default n
	help
	  This option enables signature verification of CPTRA manifest images,
	  using a hash signed and verified using ECC.

rsource "src/Kconfig"

module = SOC_FMC
module-str = soc-fmc
source "subsys/logging/Kconfig.template.log_config"
source "Kconfig.zephyr"
