#include "ast1060_dcscm_gpio_common.dts"

&i2cfilter {
	pinctrl-0 = <&pinctrl_smbflt_default>;
	status = "okay";
};

&mbxctrl {
	status = "okay";
};

&i2c0 {
	status = "okay";
	pinctrl-0 = <&pinctrl_i2c0_default>;

	swmbx0: swmbx0@38 {
		compatible = "aspeed,swmbx-dev";
		reg = <0x38>;
		label = "SWMBX_SLAVE_BMC";
		size = <256>;
		port = <0>;
		status = "okay";
	};
};

&i2c1 {
	pinctrl-0 = <&pinctrl_i2c1_default>;
	status = "okay";
};

&i2c2 {
	pinctrl-0 = <&pinctrl_i2c2_default>;
	status = "okay";

	swmbx1: swmbx1@70 {
		compatible = "aspeed,swmbx-dev";
		reg = <0x70>;
		label = "SWMBX_SLAVE_CPU";
		size = <256>;
		port = <1>;
		status = "okay";
	};
};

&i2c4 {
	pinctrl-0 = <&pinctrl_i2c4_default>;
	status = "okay";
};

&i2c5 {
	pinctrl-0 = <&pinctrl_i2c5_default>;
	status = "okay";
};

&i2c6 {
	pinctrl-0 = <&pinctrl_i2c6_default>;
	status = "okay";
};

&i2c7 {
	pinctrl-0 = <&pinctrl_i2c7_default>;
	status = "okay";
};

// for i2c filter testing
&i2c8 {
	pinctrl-0 = <&pinctrl_i2c8_default>;
	status = "okay";
};

&wdt0 {
	status = "okay";
};

&wdt1 {
	status = "okay";
};

&wdt2 {
	status = "okay";
};

&wdt3 {
	status = "okay";
};

&wdt4 {
	status = "okay";
};

&fmc {
	status = "okay";
};

&fmc_cs0 {
	/delete-property/ broken-sfdp;
	/delete-property/ write-block-size;
	status = "okay";
	spi-max-buswidth = <4>;
	spi-max-frequency = <50000000>;
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;
		mcuboot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x0 0x1c000>;
		};

		certificate_partition: partition@1c000 {
			label = "certificate";
			reg = <0x1c000 0x4000>;
		};


		active_partition: partition@20000 {
			label = "active";
			reg = <0x20000 0x60000>;
		};

		recovery_partition: partition@80000 {
			label = "recovery";
			reg = <0x80000 0x60000>;
		};

		otp_img_partition: partition@e0000 {
			label = "otp_img";
			reg = <0xe0000 0x1c000>;
		};
	};
};

&fmc_cs1 {
	status = "okay";
	spi-max-buswidth = <4>;
	spi-max-frequency = <50000000>;
};

&spi1 {
	num-cs = <2>;
	status = "okay";
};

/* "SPI1_CS0" is used to access flash connected to SPI_Monitor_1,
 * "SPI1_CS1" is used to access flash connected to SPI_Monitor_2,
 * "SPI2_CS0" is used to access flash connected to SPI_Monitor_3,
 * "SPI2_CS1" is used to access flash connected to SPI_Monitor_4,
 */

&spi1_cs0 {
	spi-max-buswidth = <4>;
	spi-max-frequency = <50000000>;
	status = "okay";
};

&spi1_cs1 {
	spi-max-buswidth = <4>;
	spi-max-frequency = <50000000>;
	status = "okay";
};

&spi2_cs0 {
	spi-max-buswidth = <1>;
	spi-max-frequency = <50000000>;
	status = "okay";
};

&spi2_cs1 {
	spi-max-buswidth = <1>;
	spi-max-frequency = <50000000>;
	status = "okay";
};

&spi2 {
	internal-mux-master = <2>;
	spi-monitor-output-base = <3>;
	spi-monitor-common-ctrl = <&spim0>;
	pinctrl-0 = <>;

	num-cs = <2>;
	status = "okay";
};

&spim0 {
	status = "okay";
};

&spim1 {
	allow-cmds = [03 13 0b 0c 6b 6c 01 05 35 06 04 20 21 9f 5a b7 e9 32 34 d8 dc 02 12 3b 3c 70 bb bc];
	log-ram-size = <0x200>;
	pinctrl-0 = <&pinctrl_spim1_cs &pinctrl_spim1_in_default &pinctrl_spim1_qspi_in_default
				&pinctrl_spim1_rst_out &pinctrl_spim1_muxsel>;

	flash-device = <&spi1_cs0>;
	ext-mux-sel = <1>;
	status = "okay";
};

&spim2 {
	allow-cmds = [03 13 0b 0c 6b 6c 01 05 35 06 04 20 21 9f 5a b7 e9 32 34 d8 dc 02 12 3b 3c 70 bb bc];
	log-ram-size = <0x200>;
	pinctrl-0 = <&pinctrl_spim2_cs &pinctrl_spim2_in_default &pinctrl_spim2_qspi_in_default
				&pinctrl_spim2_rst_out &pinctrl_spim2_muxsel>;

	flash-device = <&spi1_cs1>;
	ext-mux-sel = <1>;
	status = "okay";
};

&spim3 {
	allow-cmds = [03 13 0b 0c 6b 6c 01 05 35 06 04 20 21 9f 5a b7 e9 32 34 d8 dc 02 12 3b 3c 70 bb bc];
	log-ram-size = <0x200>;
	pinctrl-0 = <&pinctrl_spim3_cs &pinctrl_spim3_in_default &pinctrl_spim3_out_default
		&pinctrl_spim3_qspi_in_default &pinctrl_spim3_qspi_out_default
		&pinctrl_spim3_muxsel>;

	flash-device = <&spi2_cs0>;
	ext-mux-sel = <1>;
	status = "okay";
};

&spim4 {
	allow-cmds = [03 13 0b 0c 6b 6c 01 05 35 06 04 20 21 9f 5a b7 e9 32 34 d8 dc 02 12 3b 3c 70 bb bc];
	log-ram-size = <0x200>;
	pinctrl-0 = <&pinctrl_spim4_cs &pinctrl_spim4_in_default &pinctrl_spim4_out_default
		&pinctrl_spim4_qspi_in_default &pinctrl_spim4_qspi_out_default
		&pinctrl_spim4_muxsel>;

	flash-device = <&spi2_cs1>;
	ext-mux-sel = <1>;
	status = "okay";
};

&timer0 {
	status = "okay";
};

