#include "ast1060_dcscm_gpio_common.dts"
#include "ast1060_dcscm_gpio_mp.dts"

&wdt0 {
	status = "okay";
};

&wdt1 {
	status = "okay";
};

&wdt2 {
	status = "okay";
};

&wdt3 {
	status = "okay";
};

&wdt4 {
	status = "okay";
};

&fmc {
	status = "okay";
};

&fmc_cs0 {
	/delete-property/ broken-sfdp;
	/delete-property/ write-block-size;
	status = "okay";
	spi-max-buswidth = <4>;
	spi-max-frequency = <50000000>;
};

&timer0 {
	status = "okay";
};

